
@slider-bar-height: 3px;
@slider-bar-color: white;
@slider-bar-value-color: @brand-primary;
@slider-handle-color: @slider-bar-color;
@slider-handle-shadow: 0 1px 3px rgba(0, 0, 0, .2);

@slider-full-height: 16px + @slider-bar-height;

.slider {
    @padding: (@slider-full-height - @slider-bar-height) / 2 +  @padding-base-horizontal;

    width: 100%;
    height: @slider-bar-height;
    padding: @padding 0;
    position: relative;

    &:before {
        content: "";
        background-color: @slider-bar-color;
        position: absolute;
        left: 0;
        width: 100%;
        height: @slider-bar-height;
    }

    .slider-value {
        height: @slider-bar-height;
        background-color: @slider-bar-value-color;
        position: absolute;
        left: 0;
    }

    .slider-handle {
        float: right;
        width: @slider-full-height;
        height: @slider-full-height;
        border-radius: @slider-full-height / 2;
        margin: (-(@slider-full-height - @slider-bar-height) / 2) (-@slider-full-height / 2);

        box-shadow: @slider-handle-shadow;
        background-color: @slider-handle-color;
    }

    &.disabled {
        @disable-gray: mix(@slider-bar-color, @gray, 60%);

        &:before {
            background-color: @disable-gray;
        }

        .slider-value {
            background-color: mix(@slider-bar-value-color, @disable-gray, 20%);
        }

        .slider-handle {
            background-color: mix(@slider-handle-color, @disable-gray);
        }
    }
}

.slider-wrap {
    margin: 0 @padding-base-vertical;
}